/*Selector Universal*/

*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}

/*Selector de Id*/

#contenedor{
    font-family: Arial;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 100vh;
}

/*Area de Valores*/

#valores{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 50px;
}

#valores label{
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}
#valores input{
    border-radius: 50px;
    height: 40px;
    width: 200px;
    text-align: center;
    border: 0px;
}

#valores select{
    font-size: 15px;
    border-radius: 10px;
}

/*Area del Enganche*/

#enganche{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 30px;
}

#enganche label{
    margin: 40px;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}

#enganche input{
    border-radius: 50px;
    height: 50px;
    width: 250px;
    text-align: center;
    border: 0px;
}

/*Area del Financiamiento*/

#financiar{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 30px;
}

#financiar label{
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}

#financiar input{
    border-radius: 50px;
    height: 50px;
    width: 250px;
    text-align: center;
    border: 0px;
}

/*Area de Pago Mensual*/

#mensual{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 30px;
}

#mensual label{
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}

#mensual input{
    border-radius: 50px;
    height: 50px;
    width: 250px;
    text-align: center;
    border: 0px;
}

#botones{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*Selector de clase*/

.boton{
    font-size: 30px;
    border-radius: 15px;
    margin-left: 50px;
    margin-right: 50px;
    border: 20px;
    border-color: black;

}

.boton:hover{
    background-color: #554865;
    color: #e9dfcc;
}

/*Selector de clase*/
header{
    display: flex;
    background-color: #554865;
    color: #e9dfcc;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 200px;
    font-size: 4vh;
}

h1{
    text-align:left;
}

header picture{
    width: 25%;
    text-align: right;
}

header picture img{
    border-radius: 100px;
    height: 38%;
    width: 38%;
}

main{
    display: flex;
    flex-direction: column;
    margin: 50px;
    background-color: crimson;
    color: #e9dfcc;
    border-radius: 25px;
    height: 600px;
    width: 1000px;
    text-align: center;
    margin-left: 450px;
}

footer{
    display: flex;
    background-color: #554865;
    color: #e9dfcc;
    font-size: 20px;
    text-align: center;
    width: 100%;
    height: 40px;
    align-items: center;
}
